/* Center align text */
.App {
  text-align: center;
}

/* Logo size and animation */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* Apply animation if motion is not reduced */
  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styling */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link styling */
.App-link {
  color: #61dafb;
}


